<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Sneaker Index</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
<nav>
    <ul>
        <!-- More links here... -->
        <li>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </li>
    </ul>
</nav>
</div>

<div th:each="sneaker : ${allSneakers}">
    <span th:text="${sneaker.getBrand()}"></span>
    <p th:text="${sneaker.getModel()}"></p>
    <p th:text="${sneaker.getName()}"></p>
    Created by: <span th:text="${sneaker.getUser().getEmail()}"></span>
        <br>

    <form th:action="'/sneakers/edit/' + ${sneaker.getId()}" method="get">
    <button> Edit</button>
</form>

    <form th:action="'/sneakers/delete/' + ${sneaker.getId()}" method="post">
    <button>Delete</button>
        </form>

</div>
</body>
</html>