<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sneaker Index</title>
</head>
<body>

<div th:each="sneaker : ${allSneakers}">
    <span th:text="${sneaker.getBrand()}"></span>
    <p th:text="${sneaker.getModel()}"></p>
    <p th:text="${sneaker.getName()}"></p>
    Created by: <span th:text="${sneaker.getUser().getEmail()}"></span>
        <br>

    <form th:action="'/sneakers/edit/' + ${sneaker.getId()}" method="get">
    <button> Edit</button>
</form>

    <form th:action="'/sneakers/delete/' + ${sneaker.getId()}" method="post">
    <button>Delete</button>
        </form>

</div>
</body>
</html>